hr {
	border: none;
	border-bottom: 1px solid black;
}

button {
	white-space: nowrap; 
  overflow: hidden;
}

div.nopadding {
	padding: 0 0 0 0;
}

h1, h2, h3, h4 {
	white-space: nowrap;
  overflow: hidden;
}

p {
  overflow: hidden;
}

.center {
	margin: 0 auto;
	display:block;
}

.button{
	border:2px solid black;
	background-color: rgb(241,162,89);
}

