.dish {
	padding: 5% 0% 5% 0%
}

.detail-image {
	 width: 160px;
	 height: 160px; 
	 margin-bottom: 1em;
	 margin-top: 1em;
}

#ingredient-list {
	width: 100%;
	padding: 5% 5% 5% 5%;
	border: 3px solid;
	background-color: #ffdb4d;
	border-collapse: separate;
}

@media only screen and (max-width: 575px) {
  #ingredient-list {
		border: none;
	}
}