#sideBarView {
	border: 3px solid black;
}
#dinner-text{
	font-size: 1.5em;
	margin-bottom: 0;
	white-space: nowrap;
	overflow: hidden;
}

.btn {
	padding: 0 0 0 0;
	margin-left: .5em;
	margin-right: .5em;
}

.fa-minus, .fa-plus {
    font-size: 12px;
}

.expand {
	padding-top: 2%;
}

.menu{
	min-height: 100%;
  height: 100%;
	width: 100%;
	padding-left: 0 !important;
	padding-right: 0 !important;
}

.dinner-planner {
	padding: 5% 10% 5% 10%;
}

